*{padding:0;margin:0;box-sizing:border-box}
a{text-decoration: none;}
a img{display: block;}
/* 大横幅图片 */
.banner img:nth-child(2){
    display:none;
}
.banner img{
    display: block;
}
.banner .text{
    width:25%;
    height:25%;
    position: absolute;
    top:20%;
    right:12%;
    min-width:243px;
    
}

.banner .text h1{
    color:#fff;
    font-size:40px;
    font-weight:normal;
    line-height: 50px;
}
.banner .text h2{
    color:#fff;
    font-size:30px;
    font-weight:normal;
    line-height: 50px;
}

/* 二级导航菜单 */
.menu_2{
    border-bottom:1px solid #e5e5e5;
}
.menu_2 .container ul li{
    float:left;
    line-height: 67px;
    white-space: nowrap;
    padding:0 1%;
    font-size:18px;
    border-right:1px solid #e5e5e5;
    width:14%;
    text-align: center;
    cursor: pointer;
}
.menu_2 .container ul li:first-child{
    border-left:1px solid #e5e5e5;
}
.menu_2 .container ul li.active{
    background:#1D6BC3;
    color:#fff;
}
.text-content{
    padding-top:90px;
}
.text-content .num-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}
.text-content .num-info .num-item p{
    text-align: center;
}
.text-content .num-info .num-item p:nth-child(1){
    font-size:76px;
    color:#0073bc;
}
.text-content h1{
    font-size:36px;
    color: #333;
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 50px;

}
.text-content .text{
    text-indent: 32px;
    font-size: 16px;
    color: #666;
    line-height: 36px;
    margin-bottom: 40px;
}
.text-content img{
    border: 0;
    vertical-align: middle;
}
.container .honor-wrapper{
    padding-top:90px
}
.container .honor-wrapper .honor-list li{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1.15%;
    margin-bottom: 40px;
}
.container .honor-wrapper .honor-list li img{
    width:100%;
    max-height:230px;
}
.container .honor-wrapper .honor-list li p{
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 18px;
    background: #E5E5E5;
    text-align: center;
}

/* 分页列表的样式 */
#pagination{
    width: 500px;
    height: 100px;
    border: 2px solid crimson;
    
    margin: 50px auto ;
    padding-top: 34px ;
    padding-left: 50px;
}

.over,.pageItem{
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.pageItem{
    border: 1px solid orangered;
    text-decoration: none;
    color: dimgrey;
    margin-right: -1px;/*解决边框加粗问题*/
}
.pageItem:hover{
    background-color: #f98e4594;
    color:orangered ;
}
.clearfix{
    clear: both;
}
.active{
    background-color: #f98e4594;
    color:orangered ;
}
.banBtn{
    border:1px solid #ff980069;
    color: #ff980069;
}
#prevBtn{
    margin-right: 10px;
}
#nextBtn{
    margin-left: 10px;
}