*{margin:0;padding:0}
*{box-sizing:border-box;}


/* 设备屏幕小于768px的时候 */
@media (max-width:768px){
    .drop_menu{
        display:none;
    }
    .header{
        display:none;
    }
    /* 手机端样式 */
    .header-m{
        padding:0 10px;
        display:block;
        position:fixed;
        top:0;
        z-index: 6;
        width:100%;
        background:white;
    }
    .icon{
        background:url(../img/nav.png);
        background-size:cover;
        float:right;
        margin-top:20px;
        /* position: relative;
        top:-60px;
        left:350px; */
        width:40px;
        height:40px;
        /* border:1px solid red; */
        font-weight:800;
    }

    /* 轮播图部分 */
    .banner{
        margin-top:82px;
        position: relative;
        width:100%;
        /* height:100%; */
        overflow: hidden;
    }

    .arrow{
        display:none;
    }

    .space{
        display:none;
    }

    .indecate{
        display:none;
    }

    .main{
        display:flex;
        justify-content:start;
        flex-wrap:wrap;
        margin-top:20px;
    }
    
    .main a{
        text-decoration:none;
    }

    .main>*{
        width:100%;
        margin:0;
    }
    

    .tab-wrapper li{
        font-size:1rem;
        cursor:pointer;
        padding-bottom:5px;
    }

    .tab-wrapper li:nth-child(4){
        padding:5px 0 0 0;
    }

    .tab-wrapper li.active{
        border-bottom:1px solid #1D6BC3;
        color:#1d6bc3;
        
    }

    .img img{
        width:130px;
        height:80px;
        display:block;
    }

    .img a{
        display:block;
        text-decoration:none;

    }

    .img>*{
        float:left;
    }
    
    .img h2{
        width:100%;
        font-size:14px;
        color:#333;
    }

    .img a:nth-child(3){
        font-size:14px;
        margin:20px 3px 0 0;
        float:right !important;
        color:#999;
    }
    .core-list{
        width:100%;
    }
    .member_unit{
        width:100% !important;
    }
    .video-list{
        width:100% !important;
    }
    .core-list>.img-list>div{
        width:49%;
        border:1px solid #333;
        background:#f3f3f3;
        margin-bottom:20px;
        position: relative;
    }
    footer{
        background:#333;
        zoom:1;
        line-height:40px;
        
    }
    footer:after{
        content:'';
        display:block;
        overflow: hidden;
        height:0;
        clear:both;
    }
    footer a{
        color:#a6a7a7!important;
    }
    footer>div{
        width:100%;
        zoom:1;
    }
    footer>div:after{
        content:'';
        display:block;
        overflow: hidden;
        height:0;
        clear:both;
    }
    footer>div>ul{
        width:100%;
        text-align:center;
    }
    footer .footer-icon{
        display:none;
    }
    footer .footer-copyright{
        width:100%;
        text-align:center;
        color:#a6a7a7 !important;
    }
    footer .footer-copyright a{
        color: #fdf9f9 !important;
    }
    footer .footer-copyright img{
        display:none;
    }
    
}
/* 设备屏幕小于768px的时候--End */




/* 设备屏幕大于768px的时候 */

    @media (min-width:768px){
        
        /* 大块新闻部分 */
        .img span{
            /* margin-top:13%; */
            position: absolute;
            top:70%;
            left:42%;
        }
        
    }












